/* Global Styles */
html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Papyrus, fantasy;
    margin: 0;
    padding: 0;
    padding-top: 15rem;
    background-color: #000000;
    color: #333;
    font-size: calc(1vw + 1vh + 0.5vmin); /* Base font size responsive */
}

/* Header Styles */
header {
    background-image: url(images/background.png);
    background-size: cover; /* Adjust to cover the entire header */
    background-position: center center; /* Center the image */
    color: #000000;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: solid black;
}

header h1 {
    font-family: Papyrus, fantasy;
    font-weight: bolder;
    font-size: calc(1.5rem + 1.5vw); /* Smaller, responsive font size */
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
}

nav a {
    color: #fff;
    font-family: Papyrus, fantasy;
    font-weight: bold;
    padding: 0.5rem 1rem; /* Smaller padding */
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: calc(0.8rem + 0.5vw); /* Smaller, responsive font size */
}

nav a:hover {
    text-decoration: underline;
}

/* Mobile Styles */
@media (max-width: 768px) {
    header {
        background-size: cover; /* Maintain cover for background image */
        height: 200px; /* Adjust height for mobile */
        background-attachment: fixed; /* Prevent background from repeating */
    }

    header h1 {
        font-size: calc(1.2rem + 2vw); /* Smaller font size on mobile */
    }

    nav {
        padding: 0.5rem 0;
    }

    nav a {
        font-size: calc(0.6rem + 1vw); /* Smaller font size on mobile */
        padding: 0.5rem; /* Adjust padding */
    }
}

/* Container Styles */
.container {
    width: 80%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center; /* Center content in container */
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

/* Additional Styles */
.image-container img {
    max-width: 100%; /* Ensure images fit within their container */
    height: auto; /* Maintain aspect ratio */
}

/* Techniques Section Styles */
.technique-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.technique-section:nth-of-type(even) {
    flex-direction: row-reverse;
}

.technique-text {
    flex: 1;
    padding: 1rem;
    text-align: left;
}

.technique-image, .technique-video {
    flex: 1;
    padding: 1rem;
}

.technique-image img, .technique-video video {
    width: 100%;
    height: auto;
}

.technique-description h2 {
    font-family: Papyrus, fantasy;
    font-size: calc(2rem + 2vw); /* Responsive font size */
    margin-bottom: 1rem;
}