/* Global Styles */
html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Papyrus, fantasy;
    margin: 0;
    padding: 0;
    padding-top: 15rem;
    background-color: #000000;
    color: #333;
    font-size: calc(1vw + 1vh + 0.5vmin);
}

/* Header Styles */
header {
    background-image: url(images/background.png);
    background-size: cover; /* Ensure the image covers the header */
    background-position: center; /* Center the image */
    color: #000000;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: solid black;
    background-repeat: no-repeat; /* Prevent vertical repeating */
}

header h1 {
    font-family: Papyrus, fantasy;
    font-weight: bolder;
    font-size: calc(2rem + 2vw);
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: #fff;
    font-family: Papyrus, fantasy;
    font-weight: bold;
    padding: 1rem;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: calc(1rem + 0.5vw);
}

nav a:hover {
    text-decoration: underline;
}

/* Container Styles */
.container {
    width: 80%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

/* Image Styling */
.contact-image, .about-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Media Queries */
@media (max-width: 768px) {
    header {
        padding: 0.5rem 0;
        background-size: cover; /* Maintain background image size */
        background-position: center; /* Center background image */
    }

    header h1 {
        font-size: calc(1.5rem + 2vw); /* Adjust font size for smaller screens */
    }

    nav a {
        font-size: calc(0.8rem + 0.5vw); /* Adjust font size for smaller screens */
    }

    .contact-image, .about-image {
        max-width: 90%; /* Adjust width to fit on smaller screens */
    }

    .technique-section {
        flex-direction: column; /* Stack sections vertically on smaller screens */
    }
}

/* Techniques Page Specific Styles */
.technique-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.technique-section:nth-of-type(even) {
    flex-direction: row-reverse;
}

.technique-text {
    flex: 1;
    padding: 1rem;
    text-align: left;
}

.technique-image, .technique-video {
    flex: 1;
    padding: 1rem;
}

.technique-image img, .technique-video video {
    width: 100%;
    height: auto;
}

.technique-description h2 {
    font-family: Papyrus, fantasy;
    font-size: calc(2rem + 2vw);
    margin-bottom: 1rem;
}